<?xml version="1.0" encoding="utf-8"?>

<parus>

  <!-- Последовательность проведения измерения -->
  <Measurement name="measurement">
    <module>
      <!-- название -->
      <!-- Проводим калибровку по усилению и смещению 0, а также сохраняем ионограмму. -->
      <name>ionogram</name>
    </module>

    <!-- Используем настройки калибровки, полученные в первом модуле измерений. -->
    <!-- 
    <module>
      <!- название ->
      <name>amplitudes</name>
      <!- длительность измерения в секундах ->
      <dt>720</dt>
    </module>
    -->
  </Measurement>
  
  <!-- Измерение ионограмм -->
  <Measurement name="ionogram">
    <header>
      <!-- Версия для сохранения в файл. 0 - ИПГ, 1 - интенсивности без обработки, 2 - квадратурные отсчеты для калибровки, 3 - CDF -->
      <version>1</version>
      <!-- Желаемый шаг по высоте в м. Может меняться при пересчёте для выбранной частоты дискретизации. -->
      <height_step>1500</height_step>
      <!-- Число высот (размер исходного буфера АЦП при зондировании, fifo нашего АЦП 4Кб. Т.е. не больше 1024 отсчётов для каждого из двух квадратурных каналов). -->
      <!-- Для калибровки "на антенну без ВЧ" используем 1024 отсчётов для каждого из двух квадратурных каналов = 4Кб отсчётов на одну частоту. -->
      <!-- Параметр height_count указывает, сколько точек высот сохраняются в ионограмме. -->
      <height_count>512</height_count>
      <!-- Импульсов зондирования на каждой частоте -->
      <pulse_count>5</pulse_count>
      <!-- Ослабление (аттенюатор -12дБ) 1/0 = вкл/выкл -->
      <attenuation>0</attenuation>
      <!-- Усиление, дБ (g = value/6, 6дБ = приращение в 4 раза по мощности) -->
      <gain>42</gain>
      <!-- Частота зондирующих импульсов, Гц -->
      <pulse_frq>50</pulse_frq>
      <!-- Длительность зондирующих импульсов, мкс -->
      <pulse_duration>50</pulse_duration>
      <!-- Частота переключения антенн, кГц (не используется) -->
      <switch_frequency>0</switch_frequency>
      <!-- Число модулей (не используется) -->
      <modules_count>1</modules_count>
    </header>

    <module>
      <!-- шаг по частоте ионограммы, кГц -->
      <fstep>25</fstep>
      <!-- начальная частота зондирования, кГц -->
      <fbeg>1500</fbeg>
      <!-- конечная частота зондирования, кГц -->
      <fend>9000</fend>
    </module>
  </Measurement>

  <!-- Многочастотные измерения амплитуд -->
  <Measurement name="amplitudes">
    <header>
      <!-- Версия для сохранения в файл. -->
      <version>3</version>
      <!-- Желаемый шаг по высоте в м. Может меняться при пересчёте для выбранной частоты дискретизации. -->
      <height_step>2000</height_step>
      <!-- Число высот (размер исходного буфера АЦП при зондировании, fifo нашего АЦП 4Кб. Т.е. не больше 1024 отсчётов для двух квадратурных каналов) -->
      <height_count>128</height_count>
      <!-- Импульсов зондирования на каждой частоте -->
      <pulse_count>1</pulse_count>
      <!-- Ослабление (аттенюатор -12дБ) 1/0 = вкл/выкл -->
      <attenuation>1</attenuation>
      <!-- Усиление, дБ (g = value/6, 6дБ = приращение в 4 раза по мощности) -->
      <gain>42</gain>
      <!-- Частота зондирующих импульсов, Гц -->
      <pulse_frq>100</pulse_frq>
      <!-- Длительность зондирующих импульсов, мкс -->
      <pulse_duration>50</pulse_duration>
      <!-- Частота переключения антенн, кГц (не используется) -->
      <switch_frequency>0</switch_frequency>
      <!-- Число модулей -->
      <modules_count>5</modules_count>
    </header>

    <module>
      <!-- частота зондирования, кГц -->
      <frequency>1200</frequency>
    </module>
    <module>
      <!-- частота зондирования, кГц -->
      <frequency>1400</frequency>
    </module>
    <module>
      <!-- частота зондирования, кГц -->
      <frequency>1600</frequency>
    </module>
    <module>
      <!-- частота зондирования, кГц -->
      <frequency>1800</frequency>
    </module>
    <module>
      <!-- частота зондирования, кГц -->
      <frequency>2000</frequency>
    </module>

  </Measurement>

</parus>


